<div id="about" class="container">
    <span style="color: orange;font-size: 3em;">#onde_eu_moro</span>
    <div class="row-fluid text-center" style="background-color: #000000; color: black; margin: 0 0;">
        <div class="col-lg-6 col-md-6" style="color: white;">
            <div>
                <iframe width="100%" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=pt-BR&amp;geocode=&amp;q=S%C3%A3o+Caetano+do+Sul,+SP&amp;sll=37.0625,-95.677068&amp;sspn=42.224734,86.572266&amp;ie=UTF8&amp;hq=&amp;hnear=S%C3%A3o+Caetano+do+Sul+-+S%C3%A3o+Paulo,+Rep%C3%BAblica+Federativa+do+Brasil&amp;ll=-23.616224,-46.568698&amp;spn=0.023947,0.042272&amp;t=m&amp;z=14&amp;output=embed"></iframe><br />
            </div>
        </div>
        <div class="col-lg-6 col-md-6 text-center" style="color: #0F0;">
            <p class="lead"><span style="color: mediumpurple;font-size: 1em;">!talvez você ache isto importante!</span><br>nascido em 13/02/1982, casado, com filhos, apaixonado por tecnologia, bom comunicador, agente de mudanças, entusiasta, gosta de pensar diferentes soluções para o mesmo problema, codifica para a máquina sorrir, assiste filmes e seriados, joga video-games, cozinha, gosta de escrever, aplica treinamentos, grava screencasts, modela soluções, negocia com o cliente, participa na comunidade, desenvolve para celular, desafia prazos, gosta de ficar em casa, brinca com raspberry pi, incentiva o conhecimento colaborativo, possui legos, fã de dostoiévski e saramago, respeita o servidor de aplicações</p>
        </div>

    </div>
</div>

