<div id="contact" class="container" style="padding-bottom: 150px;">
    <span style="color: orange;font-size: 3em;">#contato</span>
    <div class="row text-center" style="color: black; margin: 0 0;">
        <div class="col-lg-4 col-md-4" style="color: #0F0;">
            <p class="lead" style="color: mediumpurple;">@não_deixe_de_entrar_comigo_!!!</p>
            <p class="lead">Se tiver alguma ideia onde eu possa ajudar, não deixe de entrar em contato comigo para contratar o meu trabalho. Atuo como palestrante, trainer, desenvolvedor, arquiteto, líder de time, consultor de TI, freelancer, fixo ou eventual.</p>
            <address>
                <strong>#e-mail:</strong><br>
                <a href="mailto:evandro.venancio@gmail.com">evandro.venancio@gmail.com</a> <br>
                <strong>#twitter:</strong><br>
                <a href="mailto:http://www.twitter.com/evenancio#">@evenancio</a>
            </address>
        </div>
        <div class="col-lg-1 col-md-1">
        </div>
        <div class="col-lg-6 col-md-6 text-left" style="color: white;">
            <form role="form">
                <div class="form-group">
                    <label for="subjectInput">Assunto</label>
                    <input type="text" class="form-control" id="subjectInput" ng-model="subject" placeholder="assunto da mensagem. Ex: Consultoria de Desenvolvimento para Windows 8">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Mensagem</label>
                    <textarea class="form-control" rows="5" id="exampleInputPassword1" ng-model="body" placeholder="escreva aqui a sua mensagem"></textarea>
                </div>
                <a href="mailto:evandro.venancio@gmail.com?subject={{subject}}&body={{body}}" class="btn btn-primary btn-lg">Enviar o e-mail</a>
            </form>
        </div>
        <div class="col-lg-1 col-md-1">
        </div>
    </div>
</div>
