
<div id="home" class="jumbotron" style="margin-top: 30px; padding-top: 180px; padding-bottom: 180px; color: #0F0; background-image: url('media/img/black-background.jpg');">
    <div class="text-left">
        <p><span style="color: orange;font-size: 1.5em;">var</span> <span style="color: white;font-size: 1.5em;">professional = {</span></p>
        <p style="padding-left: 50px; font-size: 1.5em;"><span style="color: mediumpurple;">name</span> <span style="color:white;">:</span>'Evandro Venancio',</p>
        <p style="padding-left: 50px; font-size: 1.5em;"><span style="color: mediumpurple;">jobs</span> <span style="color:white;">: [</span>'Software Architect', 'SOA and Front-End Specialist'<span style="color:white;">]</span>,</p>
        <p style="padding-left: 50px; font-size: 1.5em;"><span style="color: mediumpurple;">hobbies</span> <span style="color:white;">: [</span>'Agile','Big Data Enthusiast', 'Technology Lover'<span style="color:white;">]</span></p>
        <p><span style="color:white;font-size: 1.5em;">};</span></p>
   </div>
</div>
