<section class="section resume" id="resume" style="background-color: rgb(43,43,43); margin-top: 100px;">
    <div class="container">
        <span style="color: orange;font-size: 3em;">#minha_carreira</span>
        <ul class="timeline">
            <li class="event">
                <span class="heading">Serasa Experian</span><br />
                <span style="color: #00FF00; font-size: 2em;">Software Architect</span>
                <span class="month">Março, 2006 - presente</span>
                <p class="lead">Sistemas desenvolvimentos para Web (intranet e internet) utilizando recursos de Captcha, utilização de Certificado Digital, Banco de Dados SQL Server, DB2 e IBM Cics Mainframe.
                    Web Services no WCF de produtos Serasa Experian para integração com o cliente de forma online (tendo uma camada intermediária para fazer a transformação - via XSLT ou ETL - do layout Serasa para o layout cliente).
                    Processos em lote utilizando executáveis e integração com outros produtos (como o Control-M).
                    Sistemas em RIA (Silverlight) para monitoria de processos de captação automática de dados.
                    Captação de dados automática para alimentar as bases da Serasa Experian.
                    Desenvolvimento de sistemas para envio de balanços de empresas baseados de acordo com a regulamentação do Banco Central.
                    Arquitetura de plataforma de envio de SMS, Cartas e E-mails, disponibilizados em formato de serviços WCF explorando conceitos de SOA.
                    Arquitetura de implementação de modelos canônicos para processos SOA da Serasa Experian, baseado em combinação de produtos selecionados por políticas.
                    Arquitetura de plataforma de OCR (Optical character recognition) para integração de documentos digitalizados para a base Serasa Experian.
                    Arquitetura de plataforma de monitoração de sistemas (com integração extensível e implementada em ferramentas como o Vantage, SMS e E-mail).
                    Desenvolvimento de sistema para Windows 8 utilizando C#+XAML.
                    Coordenação técnica da equipe de desenvolvimento do projeto Cadastro Positivo.
                    Desenvolvimento do projeto Portal de APIs.
                    Como atividade complementar na empresa onde atuo, leciono aulas de programação para grupos de usuários: 1) Para desenvolvedores de plataformas antigas que desejam se atualizar; 2) Aulas de Orientação à Objeto; 3) Para realização de exames Microsoft.
                </p>
            </li>
            <li class="event">
                <span class="heading">Submarino</span><br />
                <span style="color: #00FF00; font-size: 2em;">Software Developer</span>
                <span class="month">Outubro, 2005 - Março, 2006</span>
                <p class="lead">Através da framework Microsoft .NET 1.1, em ASP.NET e Banco de Dados SQL Server 2000 desenvolvi:
                    MEU SUBMARINO ? (http://meu.submarino.com.br) Projeto de personalização online por cliente. Cada cliente tem uma página personalizada e recomendações são geradas a partir da navegação do cliente, onde cada seção tem um peso diferente e cálculos são gerados em tempo real. Também fiquei encarregado pelo projeto em UML, a qual desenvolvi através do software Enterprise Architect.
                    SUBMARINO ?  (http://www.submarino.com.br) Migração da antiga tecnologia ASP 3.0 para a tecnologia ASP.NET. Fiz toda a parte de cadastro e acompanhamento de pedidos, tais como manutenção nos pedidos.
                </p>
            </li>
            <li class="event">
                <span class="heading">Teleperformance</span><br />
                <span style="color: #00FF00; font-size: 2em;">Software Developer</span>
                <span class="month">Abril, 2005 - Outubro, 2005</span>
                <p class="lead">Através da framework Microsoft .NET 1.1, em ASP.NET e Banco de Dados Oracle 10g, desenvolvi: TELEPERFORMANCE Site Oficial do Brasil ? Portal Teleperformance padronizado com a matriz francesa (http://www.teleperformance.com.br).
                    Através da framework Microsoft .NET 2.0, em ASP.NET e Banco de Dados Oracle 10g desenvolvi: TELEFLY ? Sistema desenvolvido especialmente para o call-center da GOL Linhas Aéreas, com integração com PABX da Avaya para discagem e atendimento automático. Sistema com reservas de passagem, monitoração de escalas aéreas, e integração com sistema de pagamento online.
                </p>
            </li>
            <li class="event">
                <span class="heading">ZANC</span><br />
                <span style="color: #00FF00; font-size: 2em;">Software Analyst / IT Lead</span>
                <span class="month">Junho, 2001 - Abril, 2005</span>
                <p class="lead">Programação e manutenção de centrais PABX e URA da Siemens (HI-COM 300E e HI-COM 350) e TT&S (Plataforma All-In-One OpenVox). Através da framework .NET 1.0 e .NET 1.1, na linguagem ASP.NET e com Banco de Dados SQL Server 2000, desenvolvi os sistemas:
                    ZANC Intranet ? Portal de intranet com sistema de Webmail integrado, exibição dos números de rentabilidade da empresa, aniversariantes do mês, alertas de negócio, aplicação de questionários e aprendizagem online, ranking dos melhores funcionários atualizados em tempo real, últimas notícias, eventos, entrevistas, entre outras funcionalidades.
                    ZANC Manager ? Sistema de gestão e MIS para líderes, gerentes e diretores, construído sob orientação da filosofia Balanced Score Card, onde através das visões eram tomadas estratégias de redirecionamento de mailing e de elaboração de força-tarefa por perfis.
                    Também desenvolvi sistemas de URAs inteligentes, discador automático e serviços de telefonista virtual para ligações ativas com mensagens pré-configuradas. Todos em .NET 1.1.
                </p>
            </li>
            <li class="event">
                <span class="heading">Terra</span><br />
                <span style="color: #00FF00; font-size: 2em;">Call Center Traffic Analyst</span>
                <span class="month">Novembro, 2000 - Maio, 2001</span>
                <p class="lead">Através de ferramentas proprietárias da Siemens e da Avaya, era responsável pela análise de tráfego da operação Terra Networks num call-center de aproximadamente 300 postos de atendimento. Entre minhas principais atribuições estavam o dimensionamento das escalas de trabalho, a responsabilidade de otimizar o tempo de espera do cliente para ser atendido e da consolidação de estatísticas sintéticas e analíticas para sistemas de ERP e MIS.
                    Através da linguagem Visual Basic For Applications (aka VBA), utilizei uma base Microsoft Access e a apresentação com o Microsoft Excel para demonstrar todo o cenário da operação Terra Networks para que todos os supervisores e gerentes pudessem tomar decisões em tempo real.
                </p>
            </li>
        </ul>
    </div>
</section>