<div id="skills" class="container" style="padding-top: 20px;">
    <span style="color: orange;font-size: 3em;">#minhas_habilidades</span>
    <div class="row text-left">
        <div class="col-lg-6 col-xs-12">
            <span style="font-size: 2.5em; color: white;">@solution-architect</span>
            <p style="font-size: 1.5em; color: #0F0;">desenvolvimento de processos e subprocessos de arquitetura; definição de domínios, papéis e responsabilidades; criação de um repositório de Assets de Arquitetura; criação e extração de viewpoints via Sparx System Enterprise Architect; negociação entre áreas e documentação de decisões arquiteturais; implantação de programas de treinamento baseado em perfis; processo de High-Level Estimate para solicitação de novos projetos; processos de suporte técnico interno; desenhos de soluções lógicas de sistemas distribuídos; processo para validação estática e dinâmica sob a perspectiva de segurança de sistemas através da Veracode.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-6 col-xs-12">
            <span style="font-size: 2.5em; color: white;">@software-architect</span>
            <p style="font-size: 1.5em; color: #0F0;">aplicação de padrões GoF como Singleton, FactoryMethod, Observer, Composite, Façade, Strategy e Command, e também de padrões GRASP, como Creator. Sistemas arquitetados em SOA sem percas significantes de performance e com extrema escalabilidade, flexibilidade e interoperabilidade, facilitando, inclusive, a extensão de parte dos serviços em outras tecnologias. Utilização de outros paradigmas de projetos, como Transaction Script, Domain Driven Design e Aspect Driven Development. Utilização de Certificado Digital, OAuth 2 e Basic Authentication.</p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    <div class="row text-center">
        <div class="col-lg-6 col-xs-12">
            <span style="font-size: 2.5em; color: white;">@asp.net-mvc-2-3-4</span>
            <p style="font-size: 1.5em; color: #0F0;">utilização das frameworks 3.5 e 4.0 com utilização de ambas as View Engines (ASPX e Razor), JQuery, KnockoutJS. Injeção de Dependência com Ninject ou Microsoft Unity.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-6 col-xs-12">
            <span style="font-size: 2.5em; color: white;">@big-data-e-no-sql</span>
            <p style="font-size: 1.5em; color: #0F0;">entusiasta e estudioso de Big Data, utilizando VMs da Cloudera para utilização de Hadoop e seguindo conceitos de Polyglote Persistance para aproveitar o melhor de cada um dos seguintes DBs: Riak, MongoDB, HBase e Neo4J.</p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    <div class="row text-center">
        <div class="col-lg-6 col-xs-12">
            <span style="font-size: 2.5em; color: white;">@asp.net-web-application</span>
            <p style="font-size: 1.5em; color: #0F0;">utilização das Frameworks 2.0 e 3.5, HTML 4, CSS, Tableless, JQuery, Script.aculo.us, Ajax, Captcha Web Component.</p>
        </div>
        <div class="col-lg-6 col-xs-12">
            <span style="font-size: 2.5em; color: white;">@database</span>
            <p style="font-size: 1.5em; color: #0F0;">SQL Server 2005 e 2008, DB2 e IBM Cics Mainframe.</p>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-lg-6 col-xs-12">
            <span style="font-size: 2.5em; color: white;">@biztalk-2006</span>
            <p style="font-size: 1.5em; color: #0F0;">Administração e Desenvolvimento de Orchestrations, componentes de Pipelines, Functoids customizadas, componentes para transformação complexa (que substituem a fase de Maps), Schemas e Portas para Flat Files e Web Services. Utilização do BizUnit e do Microsoft ESB Toolkit. Utilização de BPM, Business Rules Composer e fornecimento de informações para cubo no Excel via BAM.</p>
        </div>
        <div class="col-lg-6 col-xs-12">
            <span style="font-size: 2.5em; color: white;">@metodologias</span>
            <p style="font-size: 1.5em; color: #0F0;">TDD e xP, processo Waterfall próprio inspirado em CMMi, utilização de ferramentas de UML tanto para elaboração do projeto como para refactoring, como o Visio e o Sparx System Enterprise Architect. Recente utilização das ferramentas de arquitetura provenientes do Microsoft Visual Studio 2010 Ultimate. Ultimamente estamos utilizando práticas de Scrum para gerenciamento de projetos.</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-lg-12 col-xs-12">
            <span style="font-size: 2.5em; color: white;">@javascript</span>
            <p style="font-size: 1.5em; color: #0F0;">Com a adoção do Html5, cresce uma forte tendência em utilizar o lado do cliente para interações mais pesadas em termos de renderização e experiências ricas de interface, venho desenvolvendo alguns projetos em SPA (Single Page Application) utilizando frameworks como Backbone+Underscore, JQuery, RequireJS, Text Plugin e/ou AngularJS (caso desta página). Utilizando somente o server para transmissão de dados, valendo-se da construção de serviços restful com node.js e frameworks como o express, mocha+expect.js, grunt. A persistência destes projetos geralmente está atrelada com mongodb, tornando assim um excelente casamento entre Server+Client+Database somente com Javascript. Outros projetos que não segue SPA, também utilizamos jade e stylus para simplificar o desenho das telas.</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-lg-6 col-xs-12">
            <span style="font-size: 2.5em; color: white;">@silverlight-4</span>
            <p style="font-size: 1.5em; color: #0F0;">Utilização das Frameworks MVVM Light e Microsoft Prism 4, Silverlight ToolKit, WCF Ria Services. Utilização do Silverlight for Windows Phone (Localização – GPS, Bing Maps, envio de SMS, utilização do discador, serviço de banco de dados do Mango, IsolatedFileStorage). Utilização do Microsoft Blend para Design.</p>
        </div>
        <div class="col-lg-6 col-xs-12">
            <span style="font-size: 2.5em; color: white;">@winRT-store-applications</span>
            <p style="font-size: 1.5em; color: #0F0;">Utilização da Framework 4.5 com XAML e C# para construção de reader RSS e de web services com indicadores financeiros. Utilização de SecondaryTile, Live Tile, Share Contract, Search Contract, Visualização em Portrait, Landscape e Snapped. Aplicação criada sem MVVM (Event-based). Aplicação cinco estrelas. Conhecimento do Guideline.</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-lg-12 col-xs-12">
            <span style="font-size: 2.5em; color: white;">@web-services</span>
            <p style="font-size: 1.5em; color: #0F0;">Até 2008 somente no modelo clássico (asmx), utilizando a Enterprise Library e WSE para suportar os padrões WS-*, como para solicitar autenticação via Ws-Security sob HTTPS (criptografia ponto-a-ponto e host-a-host). A partir de 2008 utilização de WCF, com a versão 1.1 (basicHttp) do SOAP e também com a versão 1.2 (wsHttp) do SOAP. De 2010 para cá, a partir da framework 4.0, desenvolvimento e arquitetura de serviços RESTFul tanto via WCF como via Web API – tanto do ponto de vista de consumo (como as APIs da Google) como do ponto de vista de construção (utilizados principalmente nas aplicações Silverlights). De 2012 para cá, dei preferência para construção de serviços REST através do Node.js.</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-lg-12 col-xs-12">
            <span style="font-size: 2.5em; color: white;">@etc</span>
            <p style="font-size: 1.5em; color: #0F0;">LINQ e Lamba, Entity Framework 4.1 (inclusive Code First), WCF Data Services (inclusive com utilização do OData), Workflow Foundation 3, PhoneGap (framework para construção de Web Mobile Application em múltiplas plataformas), HTML 5 e CSS3.</p>
        </div>
    </div>

</div>