<div class="container marketing ng-scope" id="works">
    <span style="color: orange;font-size: 3em;">#meus_trabalhos</span>
    <span style="color: white;font-size: 3em;">alguns executáveis que eu criei por conta e disponibilizei na web</span>

    <div class="row" style="margin-top: 80px;">
        <div class="col-lg-4">
            <img class="img-circle" alt="140x140" src="media/img/google-maps.jpg" style="width: 140px; height: 140px;">
            <h1 style="font-size: 2.5em; color: mediumpurple;">Google Maps API – A Wrapper for .NET</h1>
            <p style="color: #0f0; font-size: 1.2em;">Componente que fornece os métodos necessários para os serviços de Directions (rota) e Geocoding (localização de endereços). Utilização de WCF, RESTFul, JSON, .NET 4.0, Visual Studio 2010. No site você também pode obter o código-fonte. Mostro, inclusive, como obter um serviço de busca de CEP gratuito utilizando este componente.</p>
            <p><a class="btn btn-primary" href="http://googlemaps.codeplex.com/">Baixe a API</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" alt="140x140" src="media/img/google-shortener.png" style="width: 140px; height: 140px;">
            <h1 style="font-size: 2.5em; color: mediumpurple;">Google URL Shortener API for .NET</h1>
            <p style="color: #0f0; font-size: 1.2em;">Componente que fornece os métodos necessários para encurtar URLs, além de obter as estatísticas fornecidas pela Google para os acessos através da URL encurtada. Utilização de WCF, RESTFul, JSON, .NET 4.0, Visual Studio 2010 e Mercurial. No site você também pode obter o código-fonte.</p>
            <p><a class="btn btn-primary" href="http://gshortener.codeplex.com/">Baixe a API</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" alt="140x140" src="media/img/idade-gestacional.png" style="width: 140px; height: 140px;">
            <h1 style="font-size: 2.5em; color: mediumpurple;">Idade Gestacional for Windows Phone</h1>
            <p style="color: #0f0; font-size: 1.2em;">Esta é uma ferramenta interessante tanto para futuras mamães e futuros papais, como para profissionais da área e estudiosos, pois além de trazer uma calculadora para calcular a idade gestacional baseada em diversos parâmetros, trás também uma série de informações adicionais para lhe ajudar em casa fase da gestação.</p>
            <p><a class="btn btn-primary" href="http://www.windowsphone.com/pt-br/store/app/idade-gestacional/c17b0b6a-e0a0-417e-80ae-3e6a0d5e2be1">Download</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <div class="row" style="margin-top: 80px;">
        <div class="col-lg-4">
            <img class="img-rounded" alt="140x140" src="media/img/metrosp.png" style="width: 140px; height: 140px;">
            <h1 style="font-size: 2.5em; color: mediumpurple;">Metro São Paulo for Windows Phone</h1>
            <p style="color: #0f0; font-size: 1.2em;">Finalmente chega ao Windows Phone uma versão exclusiva com informações sobre o transporte metropolitano de São Paulo. Este aplicativo foi caprichosamente desenhado para aproveitar o máximo de recursos do WP7, de modo que a navegação é uma experiência incomparável em relação a outros dispositivos móveis que não tenham o Windows Phone.</p>
            <p><a class="btn btn-primary" href="http://www.windowsphone.com/pt-br/store/app/metro-s%C3%A3o-paulo/adf904c9-46ea-4a6e-be83-cea33b546c17">Download</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-rounded" alt="140x140" src="media/img/portuguese4travellers.png" style="width: 140px; height: 140px;">
            <h1 style="font-size: 2.5em; color: mediumpurple;">Portuguese 4 Travellers for Windows Phone</h1>
            <p style="color: #0f0; font-size: 1.2em;">If you planning to travel to any country wich the official language is portuguese (or if you stay there right now), maybe this application would can be your best friend. Through more than 10 categories and more than 150 phrases, you will get in your hands the most useful sentences and words of portuguese vocabulary.</p>
            <p><a class="btn btn-primary" href="http://www.windowsphone.com/pt-br/store/app/pt-4-travellers/63942556-16e8-4d97-931f-a8351429c36c/">Download</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-rounded" alt="140x140" src="media/img/trackingbr.png" style="width: 140px; height: 140px;">
            <h1 style="font-size: 2.5em; color: mediumpurple;">Tracking BR for Windows Phone</h1>
            <p style="color: #0f0; font-size: 1.2em;">Você pode cadastrar seus objetos através do código de rastreamento de modo a facilitar futuras consultas, assim você não precisa ficar digitando o código todas as vezes. Além disto, caso as encomendas cadastradas tenham seu status alterado, ao entrar no aplicativo você será avisado – assim você não precisa ficar consultando os objetos o tempo inteiro para saber se houve alguma mudança.</p>
            <p><a class="btn btn-primary" href="http://www.windowsphone.com/pt-br/store/app/tracking-br/0191b027-0468-49d8-9da2-dd0b40b2ad6b">Download</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</div>